p {
	color: red ;
	width: 500px;
	border: 1px solid black;
}


/* wszystkie td w tabeli */
td {
	color: green;
	background-color: yellow;
	text-align: center;
}	


/* jeden konkretny td o identyfikatorze td1 */
#td1 {
	color: blue;
	background-color: white;
	text-align: center;
}	
